#notePage {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}

#npHead,
#npFoot {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

#npHead {
    z-index: 2;
}

#nphLeft,
#nphRight {
    width: 20%;
}

#nphRight button {
    margin-left: auto;
}

#nphMiddle {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#nphNoteName {
    color: gray;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bgImgBackdropFilter #nphNoteName {
    color: var(--primarylight);
}

#npBody {
    height: calc(100% - 120px);
    width: 100%;
    padding: 15px;
    overflow-y: auto;
    border: 1px solid var(--gray40);
    border-radius: 6px;
    font-size: 18px;
    user-select: text;
}

.darkmode #npBody {
    color: var(--primarylight);
    background-color: #000008;
}

.lightmode #npBody {
    background-color: ghostwhite;
}

.bgImgBackdropFilter #npBody {
    background-color: transparent;
    color: var(--primarylight);
}

#npBody * {
    user-select: text;
    padding: 2px;
    border-radius: 3px;
}

#npBody img {
    max-width: 100%;
}

#npBody code {
    background-color: gray !important;
    color: white !important;
    font-size: 80%;
}

#npBody *::selection {
    background-color: var(--accent);
    color: var(--primarydark);
}

#npfLeft,
#npfMiddle {
    color: var(--gray80);
    font-size: 18px;
}

.bgImgBackdropFilter #npfLeft,
.bgImgBackdropFilter #npfMiddle {
    color: rgba(248, 248, 255, 0.6);
}

#npfLeft {
    width: 30%;
}

#npWordsCount {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid var(--gray80);
}

#npfMiddle {
    display: flex;
    justify-content: center;
    width: 40%;
}

#npfRight {
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

#nphListenBox {
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}

#nphListenOptions {
    border: 1px solid var(--secondary);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
    opacity: 0;
    width: 0;
    overflow: hidden;
    height: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nphListenOptionBtn {
    margin: 0 2px;
}

.nphListenOptionBtn svg {
    height: 18px;
    width: 18px;
    color: var(--secondary);
}

#npSettingBtn svg {
    height: 14px;
    width: 14px;
}

.npListenBtn_active,
.npListenBtn_active:hover {
    background-color: var(--secondary);
    color: var(--primarydark);
    border-color: var(--secondary);
}

.nphListenOptions_open {
    width: fit-content !important;
    height: fit-content !important;
    opacity: 1 !important;
    padding: 2px !important;
    overflow: visible !important;
}

#npListenSettingCont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    backdrop-filter: brightness(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#npListenSettingBox {
    height: 30%;
    width: 50%;
    background-color: var(--primarydark);
    border-radius: 6px;
    border: 1px solid var(--gray40);
    color: var(--primarylight);
}

#npListenboxCloseBtn {
    padding: 5px;
    margin: 5px;
    display: flex;
    margin-left: auto;
}

#npListenboxCloseBtn svg {
    height: 22px;
    aspect-ratio: 1;
    color: var(--primarylight);
}

#npListenSettingVoiceBox {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#npListenSettingVoiceBox label {
    font-size: 18px;
    margin-bottom: 10px;
}

#npVoiceDropDown {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (width<=1024px) {
    #npListenSettingBox {
        width: 60%;
    }
}

@media screen and (width<=768px) {
    #nphMiddle {
        font-size: 20px;
    }

    #npFoot {
        justify-content: space-between;
    }

    #npfLeft,
    #npfMiddle {
        width: auto;
        font-size: 16px;
    }

    #npfRight {
        width: auto;
    }

    #npListenSettingBox{
        width: 70%;
    }
}

@media screen and (width<=600px) {

    #npfMiddle {
        display: none;
    }

    #nphLeft,
    #nphRight {
        width: auto;
    }

    #nphMiddle {
        flex: 1;
        font-size: 18px;
    }

    #nphNoteName {
        max-width: 85%;
    }

    #npListenSettingBox{
        width: 80%;
    }
}

@media screen and (width<=400px) {

    #notePage {
        padding: 0 10px;
    }

    #nphNoteName {
        max-width: 90%;
    }

    #npBody {
        padding: 10px;
        font-size: 16px;
    }

    #npBody {
        height: calc(100% - 100px);
    }

    #npFoot {
        height: 40px;
    }

    #npfRight {
        width: 100%;
        gap: 0;
        justify-content: space-around;
    }

    #npfLeft {
        display: none;
    }

    #npListenSettingBox{
        width: 90%;
    }

}